
{% extends 'padre.html' %}


{% block contenido_que_cambia %}

    <h1 style="color: rgb(177, 55, 55); font-size: 40px;"> Tercer pre-entrega </h1>
    <br>
    <br>
    <br>
    <br>
    <p style="font-size: 20px; margin: 3em;">Programa realizado para el Curso de Python - comisión 54145 de la plataforma de aprendizaje online CoderHouse. La aplicación permite cargar datos de un inmueble, un propietario y un inquilino a través de formularios y almacenar dicha información en la base de datos del programa.</p>
    
{% endblock contenido_que_cambia %}
    