
{% extends 'padre.html' %}


{% block contenido_que_cambia %}
    <h1> Página de Inicio </h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi commodi voluptatibus doloremque quos. Optio voluptate quod vel corrupti iste illo repellat sit deserunt, possimus recusandae eius, distinctio, iure ea nisi.
    Reiciendis impedit, officia reprehenderit, similique suscipit possimus mollitia veniam quod illum enim accusamus libero cum quis at perferendis odit. Doloribus aut ex excepturi mollitia minima quis est necessitatibus? Veritatis, soluta?
    Ducimus atque eaque ex. Ducimus quae libero nihil velit, ipsam autem optio voluptates illo qui unde praesentium et officia architecto dolor, laudantium minima nam maiores dolore sapiente laboriosam. Dignissimos, eveniet.
    Suscipit, doloribus inventore odit rem rerum, aliquam corrupti quis magni fugit quaerat assumenda laudantium quo nihil veritatis excepturi ea. Facilis sequi nemo sit incidunt iusto consequuntur, illo pariatur cupiditate animi?
    Unde expedita ipsa ducimus neque at necessitatibus iste inventore, nesciunt magni doloribus nam et in eaque delectus laborum assumenda ipsam nihil. Reiciendis autem cumque, maiores consectetur non voluptas commodi omnis?</p>
    
{% endblock contenido_que_cambia %}
    