
{% extends 'padre.html' %}

{% block contenido_que_cambia %}

<form class="form" action="{% url 'inquilino_formulario' %}" method="post"> {% csrf_token %}
    <h2>Formulario Inquilino</h2>
    <p>Nombre: <input type="text" name="nombre" placeholder="Escriba el nombre del inquilino.."></input></p>
    <p>Apellido: <input type="text" name="apellido" placeholder="Escriba el apellido del inquilino.."></input></p>
    <p>Teléfono: <input type="number" name="telefono" placeholder="Especifique el teléfono del inquilino.."></input></p>
    <p>Email: <input type="email" name="mail" placeholder="Especifique el email del inquilino.."></input></p>
    <p>Valor del alquiler: $ <input type="number" name="valor_alquiler" placeholder="Especifique el valor del alquiler actual.."></input></p>
    <button type="submit">Cargar datos del inquilino</button>    
 </form>
    
{% endblock contenido_que_cambia %}